body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background:black;
}

h1, h2{
    font-family: 'Outfit', sans-serif;
}

    
h1, h2, h3, p, i, li {
    color: white;
}

a{
    color: cyan
}

#nav-bar{
    height:10em;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: #000;
}

#navbar, .top-cont, .heading{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:20em
}

#navbar li, .top-cont li{
    width:5em;
    list-style: none
}

#navbar ul, .top-cont ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
}

#welcome-div{
    width:22em;
    padding:10px;
    margin:0;
    background-image: url('images/black-n-blue-bricks.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}

.container{
    margin:0;
    padding:0;
}

#projects{
    width:22em;
    height: 50em;
    padding:10px;
    margin:0;
    background-image: url(https://i.postimg.cc/x1H5yYM6/Blue-Black-Hex-BG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}

.project-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.project-tile img{
    height: 5em;
}

#About{
    width:22em;
    height: 60em;
    background-image: url('images/dark-blue-w-yellow.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
    padding:10px;
}

#about p{
    padding:5px
}



@media (min-width: 770px){
 
    h1{
        font-size:30px
    }

    h2, h3{
        font-size: 20px;
    }


    .border{
        border-style: solid;
    }
    #nav-bar {
        width: 100%;
        height: 100px;
        position: fixed;
        background: black;
        top:0;
    }

    #navbar {
        width:60em;
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        font-size: 20px;
    }

    #welcome-div, #About{
        width: 66em;
        height: 42em
    }

    #welcome-div{
        margin-top:5em;
        display:flex;
        align-items: flex-start;
        justify-content: space-around;
        font-size: 20px;
    }


    #welcome-div i, #welcome-div h2{
        font-size: 40px
    }

    #welcome-div ul {
        display:flex;
        flex-direction: column;
        line-height: 80px;
        font-size: 40px
    }

    #projects, #About{
        width: 83em;
        height:40em
    }
    #project-flex{
        display: flex;
        justify-content: space-around;
        margin: 50px
    }

    .project-tile{
        margin: 20px;
        font-size: 20px;
    }

    .project-tile img{
        height: 100px
    }

    #About{
        display: flex;
        justify-content: space-around;
        align-items:flex-start
    }

    #About p{
        width: 20em;
        font-size: 20px;
    }

    a:hover{
     color:red
    }

    .container{
        width: 100%;
    }
}